<?xml version="1.0" encoding="UTF-8"?>

<j2ee:web-app xmlns:j2ee="http://java.sun.com/xml/ns/j2ee">
  <context-param>
    <param-name>StartBrowser.page</param-name>
    <param-value>index.jsp</param-value>
  </context-param>
    <listener>
    <listener-class>com.bea.medrec.startup.StartBrowser</listener-class>
  </listener>
</j2ee:web-app>
